ImageSharing/ImageSharing/Service References/FriendshipRequestService/FriendshipRequestServiceNew.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FriendshipRequestServiceNew" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6982/FriendshipRequestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6982/FriendshipRequestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6982/FriendshipRequestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendshipRequestService_GetRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendshipRequestService_GetRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipRequestService_GetRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequests" />
  </wsdl:message>
  <wsdl:message name="IFriendshipRequestService_GetRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipRequestService_AddRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendshipRequestService_AddRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipRequestService_RemoveRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendshipRequestService_RemoveRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IFriendshipRequestService">
    <wsdl:operation name="GetRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipRequestService/GetRequest" message="tns:IFriendshipRequestService_GetRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipRequestService/GetRequestResponse" message="tns:IFriendshipRequestService_GetRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipRequestService/GetRequests" message="tns:IFriendshipRequestService_GetRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipRequestService/GetRequestsResponse" message="tns:IFriendshipRequestService_GetRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipRequestService/AddRequest" message="tns:IFriendshipRequestService_AddRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipRequestService/AddRequestResponse" message="tns:IFriendshipRequestService_AddRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipRequestService/RemoveRequest" message="tns:IFriendshipRequestService_RemoveRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipRequestService/RemoveRequestResponse" message="tns:IFriendshipRequestService_RemoveRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFriendshipRequestService" type="tns:IFriendshipRequestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRequest">
      <soap:operation soapAction="http://tempuri.org/IFriendshipRequestService/GetRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequests">
      <soap:operation soapAction="http://tempuri.org/IFriendshipRequestService/GetRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequest">
      <soap:operation soapAction="http://tempuri.org/IFriendshipRequestService/AddRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRequest">
      <soap:operation soapAction="http://tempuri.org/IFriendshipRequestService/RemoveRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendshipRequestServiceNew">
    <wsdl:port name="BasicHttpBinding_IFriendshipRequestService" binding="tns:BasicHttpBinding_IFriendshipRequestService">
      <soap:address location="http://localhost:6982/FriendshipRequestService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>