ImageSharing/ImageSharing/Service References/FriendshipService/FriendshipService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6982/FriendshipService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" />
  <xs:element name="AddFriendship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" minOccurs="0" name="friendship" nillable="true" type="q1:Friendship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFriendshipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFriendship">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFriendshipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendship">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" minOccurs="0" name="GetFriendshipResult" nillable="true" type="q2:Friendship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendships">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" minOccurs="0" name="GetFriendshipsResult" nillable="true" type="q3:ArrayOfFriendship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>