ImageSharing/ImageSharing/Service References/FriendshipService/FriendshipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FriendshipService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6982/FriendshipService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6982/FriendshipService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6982/FriendshipService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendshipService_AddFriendship_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFriendship" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_AddFriendship_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFriendshipResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_RemoveFriendship_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendship" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_RemoveFriendship_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendshipResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetFriendship_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendship" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetFriendship_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendshipResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetFriendships_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendships" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetFriendships_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendshipsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFriendshipService">
    <wsdl:operation name="AddFriendship">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/AddFriendship" message="tns:IFriendshipService_AddFriendship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/AddFriendshipResponse" message="tns:IFriendshipService_AddFriendship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFriendship">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/RemoveFriendship" message="tns:IFriendshipService_RemoveFriendship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/RemoveFriendshipResponse" message="tns:IFriendshipService_RemoveFriendship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendship">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/GetFriendship" message="tns:IFriendshipService_GetFriendship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/GetFriendshipResponse" message="tns:IFriendshipService_GetFriendship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendships">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/GetFriendships" message="tns:IFriendshipService_GetFriendships_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/GetFriendshipsResponse" message="tns:IFriendshipService_GetFriendships_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFriendshipService" type="tns:IFriendshipService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFriendship">
      <soap:operation soapAction="http://tempuri.org/IFriendshipService/AddFriendship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFriendship">
      <soap:operation soapAction="http://tempuri.org/IFriendshipService/RemoveFriendship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendship">
      <soap:operation soapAction="http://tempuri.org/IFriendshipService/GetFriendship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendships">
      <soap:operation soapAction="http://tempuri.org/IFriendshipService/GetFriendships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendshipService">
    <wsdl:port name="BasicHttpBinding_IFriendshipService" binding="tns:BasicHttpBinding_IFriendshipService">
      <soap:address location="http://localhost:6982/FriendshipService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>