ImageSharing/ImageSharing/Service References/TapeServiceNew/TapeServiceNew.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tape">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserAccount" nillable="true" type="tns:UserAccount" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tape" nillable="true" type="tns:Tape" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="UserAccount">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AvatarPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActivated" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserAccount" nillable="true" type="tns:UserAccount" />
  <xs:complexType name="ArrayOfTape">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tape" nillable="true" type="tns:Tape" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTape" nillable="true" type="tns:ArrayOfTape" />
</xs:schema>