ImageSharing/ImageSharing/Service References/TapeServiceNew/TapeServiceNew.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TapeServiceNew" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6982/TapeServiceNew.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6982/TapeServiceNew.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6982/TapeServiceNew.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITapeServiceNew_GetTape_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTape" />
  </wsdl:message>
  <wsdl:message name="ITapeServiceNew_GetTape_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTapeResponse" />
  </wsdl:message>
  <wsdl:message name="ITapeServiceNew_GetTapes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTapes" />
  </wsdl:message>
  <wsdl:message name="ITapeServiceNew_GetTapes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTapesResponse" />
  </wsdl:message>
  <wsdl:message name="ITapeServiceNew_AddTape_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTape" />
  </wsdl:message>
  <wsdl:message name="ITapeServiceNew_AddTape_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTapeResponse" />
  </wsdl:message>
  <wsdl:message name="ITapeServiceNew_RemoveTape_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTape" />
  </wsdl:message>
  <wsdl:message name="ITapeServiceNew_RemoveTape_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTapeResponse" />
  </wsdl:message>
  <wsdl:portType name="ITapeServiceNew">
    <wsdl:operation name="GetTape">
      <wsdl:input wsaw:Action="http://tempuri.org/ITapeServiceNew/GetTape" message="tns:ITapeServiceNew_GetTape_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITapeServiceNew/GetTapeResponse" message="tns:ITapeServiceNew_GetTape_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTapes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITapeServiceNew/GetTapes" message="tns:ITapeServiceNew_GetTapes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITapeServiceNew/GetTapesResponse" message="tns:ITapeServiceNew_GetTapes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTape">
      <wsdl:input wsaw:Action="http://tempuri.org/ITapeServiceNew/AddTape" message="tns:ITapeServiceNew_AddTape_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITapeServiceNew/AddTapeResponse" message="tns:ITapeServiceNew_AddTape_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTape">
      <wsdl:input wsaw:Action="http://tempuri.org/ITapeServiceNew/RemoveTape" message="tns:ITapeServiceNew_RemoveTape_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITapeServiceNew/RemoveTapeResponse" message="tns:ITapeServiceNew_RemoveTape_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITapeServiceNew" type="tns:ITapeServiceNew">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTape">
      <soap:operation soapAction="http://tempuri.org/ITapeServiceNew/GetTape" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTapes">
      <soap:operation soapAction="http://tempuri.org/ITapeServiceNew/GetTapes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTape">
      <soap:operation soapAction="http://tempuri.org/ITapeServiceNew/AddTape" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTape">
      <soap:operation soapAction="http://tempuri.org/ITapeServiceNew/RemoveTape" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TapeServiceNew">
    <wsdl:port name="BasicHttpBinding_ITapeServiceNew" binding="tns:BasicHttpBinding_ITapeServiceNew">
      <soap:address location="http://localhost:6982/TapeServiceNew.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>