ImageSharing/ImageSharing/Service References/SubscriptionServiceNew/SubscriptionServiceNew.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6982/SubscriptionServiceNew.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" />
  <xs:element name="AddSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" minOccurs="0" name="subscription" nillable="true" type="q1:Subscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubscriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubscriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" minOccurs="0" name="GetSubscriptionResult" nillable="true" type="q2:Subscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" minOccurs="0" name="GetSubscriptionsResult" nillable="true" type="q3:ArrayOfSubscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>