ImageSharing/ImageSharing/Service References/PostService/PostServiceNew.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PostServiceNew" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6982/PostService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6982/PostService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6982/PostService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPostService_ChangeImagePath_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeImagePath" />
  </wsdl:message>
  <wsdl:message name="IPostService_ChangeImagePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeImagePathResponse" />
  </wsdl:message>
  <wsdl:message name="IPostService_ChangeDataTime_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDataTime" />
  </wsdl:message>
  <wsdl:message name="IPostService_ChangeDataTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDataTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IPostService_GetPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPost" />
  </wsdl:message>
  <wsdl:message name="IPostService_GetPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostResponse" />
  </wsdl:message>
  <wsdl:message name="IPostService_GetPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPosts" />
  </wsdl:message>
  <wsdl:message name="IPostService_GetPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IPostService_AddPost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPost" />
  </wsdl:message>
  <wsdl:message name="IPostService_AddPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPostResponse" />
  </wsdl:message>
  <wsdl:message name="IPostService_RemovePost_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePost" />
  </wsdl:message>
  <wsdl:message name="IPostService_RemovePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePostResponse" />
  </wsdl:message>
  <wsdl:message name="IPostService_ChangeDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDescription" />
  </wsdl:message>
  <wsdl:message name="IPostService_ChangeDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDescriptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IPostService">
    <wsdl:operation name="ChangeImagePath">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostService/ChangeImagePath" message="tns:IPostService_ChangeImagePath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostService/ChangeImagePathResponse" message="tns:IPostService_ChangeImagePath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDataTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostService/ChangeDataTime" message="tns:IPostService_ChangeDataTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostService/ChangeDataTimeResponse" message="tns:IPostService_ChangeDataTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostService/GetPost" message="tns:IPostService_GetPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostService/GetPostResponse" message="tns:IPostService_GetPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostService/GetPosts" message="tns:IPostService_GetPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostService/GetPostsResponse" message="tns:IPostService_GetPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostService/AddPost" message="tns:IPostService_AddPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostService/AddPostResponse" message="tns:IPostService_AddPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostService/RemovePost" message="tns:IPostService_RemovePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostService/RemovePostResponse" message="tns:IPostService_RemovePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostService/ChangeDescription" message="tns:IPostService_ChangeDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostService/ChangeDescriptionResponse" message="tns:IPostService_ChangeDescription_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPostService" type="tns:IPostService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeImagePath">
      <soap:operation soapAction="http://tempuri.org/IPostService/ChangeImagePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDataTime">
      <soap:operation soapAction="http://tempuri.org/IPostService/ChangeDataTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPost">
      <soap:operation soapAction="http://tempuri.org/IPostService/GetPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPosts">
      <soap:operation soapAction="http://tempuri.org/IPostService/GetPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPost">
      <soap:operation soapAction="http://tempuri.org/IPostService/AddPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePost">
      <soap:operation soapAction="http://tempuri.org/IPostService/RemovePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDescription">
      <soap:operation soapAction="http://tempuri.org/IPostService/ChangeDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostServiceNew">
    <wsdl:port name="BasicHttpBinding_IPostService" binding="tns:BasicHttpBinding_IPostService">
      <soap:address location="http://localhost:6982/PostService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>