ImageSharing/ImageSharing/Service References/TapeService/TapeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6982/TapeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.Entity" />
  <xs:element name="GetTape">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTapeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.Entity" minOccurs="0" name="GetTapeResult" nillable="true" type="q1:Tape" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTapes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTapesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.Entity" minOccurs="0" name="GetTapesResult" nillable="true" type="q2:ArrayOfTape" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTape">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.Entity" minOccurs="0" name="tape" nillable="true" type="q3:Tape" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTapeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTape">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTapeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>