ImageSharing/ImageSharing/Service References/UserServiceNew/UserServiceNew.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserServiceNew" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6982/UserServiceNew.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6982/UserServiceNew.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6982/UserServiceNew.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserServiceNew_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_ChangeName_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeName" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_ChangeName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_ChangeSurname_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSurname" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_ChangeSurname_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSurnameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_ChangeEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmail" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_ChangeEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_ChangeAvatarPath_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeAvatarPath" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_ChangeAvatarPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeAvatarPathResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_ActivateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateAccount" />
  </wsdl:message>
  <wsdl:message name="IUserServiceNew_ActivateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserServiceNew">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceNew/AddUser" message="tns:IUserServiceNew_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceNew/AddUserResponse" message="tns:IUserServiceNew_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceNew/GetUser" message="tns:IUserServiceNew_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceNew/GetUserResponse" message="tns:IUserServiceNew_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceNew/GetUsers" message="tns:IUserServiceNew_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceNew/GetUsersResponse" message="tns:IUserServiceNew_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceNew/ChangeName" message="tns:IUserServiceNew_ChangeName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceNew/ChangeNameResponse" message="tns:IUserServiceNew_ChangeName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSurname">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceNew/ChangeSurname" message="tns:IUserServiceNew_ChangeSurname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceNew/ChangeSurnameResponse" message="tns:IUserServiceNew_ChangeSurname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceNew/ChangeEmail" message="tns:IUserServiceNew_ChangeEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceNew/ChangeEmailResponse" message="tns:IUserServiceNew_ChangeEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceNew/ChangePassword" message="tns:IUserServiceNew_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceNew/ChangePasswordResponse" message="tns:IUserServiceNew_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeAvatarPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceNew/ChangeAvatarPath" message="tns:IUserServiceNew_ChangeAvatarPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceNew/ChangeAvatarPathResponse" message="tns:IUserServiceNew_ChangeAvatarPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceNew/RemoveUser" message="tns:IUserServiceNew_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceNew/RemoveUserResponse" message="tns:IUserServiceNew_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceNew/ActivateAccount" message="tns:IUserServiceNew_ActivateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceNew/ActivateAccountResponse" message="tns:IUserServiceNew_ActivateAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserServiceNew" type="tns:IUserServiceNew">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUserServiceNew/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserServiceNew/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUserServiceNew/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeName">
      <soap:operation soapAction="http://tempuri.org/IUserServiceNew/ChangeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSurname">
      <soap:operation soapAction="http://tempuri.org/IUserServiceNew/ChangeSurname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeEmail">
      <soap:operation soapAction="http://tempuri.org/IUserServiceNew/ChangeEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IUserServiceNew/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeAvatarPath">
      <soap:operation soapAction="http://tempuri.org/IUserServiceNew/ChangeAvatarPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IUserServiceNew/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateAccount">
      <soap:operation soapAction="http://tempuri.org/IUserServiceNew/ActivateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServiceNew">
    <wsdl:port name="BasicHttpBinding_IUserServiceNew" binding="tns:BasicHttpBinding_IUserServiceNew">
      <soap:address location="http://localhost:6982/UserServiceNew.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>