ImageSharing/ImageSharing/Service References/CommentServiceNew/CommentServiceNew.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommentServiceNew" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6982/CommentServiceNew.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6982/CommentServiceNew.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6982/CommentServiceNew.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageSharing.DAL.EntityNew" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommentServiceNew_ChangeText_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeText" />
  </wsdl:message>
  <wsdl:message name="ICommentServiceNew_ChangeText_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeTextResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentServiceNew_GetComment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComment" />
  </wsdl:message>
  <wsdl:message name="ICommentServiceNew_GetComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentServiceNew_GetComments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComments" />
  </wsdl:message>
  <wsdl:message name="ICommentServiceNew_GetComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentServiceNew_AddComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="ICommentServiceNew_AddComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentServiceNew_RemoveComment_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveComment" />
  </wsdl:message>
  <wsdl:message name="ICommentServiceNew_RemoveComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCommentResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommentServiceNew">
    <wsdl:operation name="ChangeText">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentServiceNew/ChangeText" message="tns:ICommentServiceNew_ChangeText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentServiceNew/ChangeTextResponse" message="tns:ICommentServiceNew_ChangeText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentServiceNew/GetComment" message="tns:ICommentServiceNew_GetComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentServiceNew/GetCommentResponse" message="tns:ICommentServiceNew_GetComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentServiceNew/GetComments" message="tns:ICommentServiceNew_GetComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentServiceNew/GetCommentsResponse" message="tns:ICommentServiceNew_GetComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentServiceNew/AddComment" message="tns:ICommentServiceNew_AddComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentServiceNew/AddCommentResponse" message="tns:ICommentServiceNew_AddComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentServiceNew/RemoveComment" message="tns:ICommentServiceNew_RemoveComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentServiceNew/RemoveCommentResponse" message="tns:ICommentServiceNew_RemoveComment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommentServiceNew" type="tns:ICommentServiceNew">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeText">
      <soap:operation soapAction="http://tempuri.org/ICommentServiceNew/ChangeText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComment">
      <soap:operation soapAction="http://tempuri.org/ICommentServiceNew/GetComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <soap:operation soapAction="http://tempuri.org/ICommentServiceNew/GetComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://tempuri.org/ICommentServiceNew/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveComment">
      <soap:operation soapAction="http://tempuri.org/ICommentServiceNew/RemoveComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommentServiceNew">
    <wsdl:port name="BasicHttpBinding_ICommentServiceNew" binding="tns:BasicHttpBinding_ICommentServiceNew">
      <soap:address location="http://localhost:6982/CommentServiceNew.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>